/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* wildcard Asterick to overide the default style added to the browser  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* General Style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
}


/* header */
header {
  background-color: royalblue;
}

/* main content */
main {
    background-color: chartreuse;
}

/* footer */
footer {
   background-color: aqua;
}

